<?xml version="1.0"?>
<!--
/**
 * @author Fran Mayers (https://merchantprotocol.com)
 * @copyright  Copyright (c) 2016 Merchant Protocol
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

-->
<config>
    <modules>
        <MP_Gateway>
            <version>1.3.0</version>
        </MP_Gateway>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <MP_Gateway />
            </modules>
        </suite>
    </phpunit>       
    <global>
        <models>
            <mp_gateway>
                <class>MP_Gateway_Model</class>
                <resourceModel>mp_gateway_resource</resourceModel>
            </mp_gateway>
            <mp_gateway_resource>
              <class>MP_Gateway_Model_Resource</class>
                <entities>
                    <card><table>mp_gateway_cards</table></card>
                </entities>
            </mp_gateway_resource>
        </models>
        <blocks>
            <mp_gateway>
                <class>MP_Gateway_Block</class>
            </mp_gateway>
        </blocks>
        <helpers>
            <mp_gateway>
                <class>MP_Gateway_Helper</class>
            </mp_gateway>
        </helpers>
        <resources>
            <mp_gateway_setup>
                <setup>
                    <module>MP_Gateway</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </mp_gateway_setup>
        </resources>
    </global>

    <adminhtml>
    	<events>
            <adminhtml_customer_save_after>
                <observers>
                    <mp_gateway_adminhtml_customer_save_after>
                        <class>mp_gateway/adminhtml_observer</class>
                        <method>adminhtmlCustomerSaveAfter</method>
                    </mp_gateway_adminhtml_customer_save_after>
                </observers>
            </adminhtml_customer_save_after>
        </events>    
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mp_gateway translate="title" module="mp_gateway">
                                            <title>MP Gateway</title>
                                        </mp_gateway>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mp_gateway module="MP_Gateway">
                    <file>mp_gateway.xml</file>
                </mp_gateway>
            </updates>
        </layout>
        
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <mp_gateway module="MP_Gateway">
                    <file>mp_gateway.xml</file>
                </mp_gateway>
            </updates>
        </layout>

        <routers>
            <mp_gateway>
                <use>standard</use>
                <args>
                    <module>MP_Gateway</module>
                    <frontName>mpgateway</frontName>
                </args>
            </mp_gateway>
        </routers>
    </frontend>

    <default>
        <payment>
            <mp_gateway>
                <model>mp_gateway/payment</model>
                <title>Credit, Debit and/or Purchase Card</title>
                <active>0</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <debug>0</debug>
                <email_customer>0</email_customer>
                <user backend_model="adminhtml/system_config_backend_encrypted"/>
                <pwd backend_model="adminhtml/system_config_backend_encrypted"/>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <sandbox_flag>0</sandbox_flag>
                <allowspecific>0</allowspecific>
                <currency>USD</currency>
                <enable_savedcards>1</enable_savedcards>
                <enable_zerototal>0</enable_zerototal>
            </mp_gateway>
            <mp_gateway_deposit>
            	<title>A Purchase Card On File Is Required</title>
            </mp_gateway_deposit>
        </payment>
    </default>
</config>
